<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body style="padding: 10px;">


        <div class="nav pull-right">
            {% block nav %}
            {% if isAdmin %}
            <a href="{{ routes.logout }}" class="btn">
                <i class="icon-fire"></i>
                Log out
            </a>
            {% else %}
            <a href="{{ routes.login }}" class="btn">
                <i class="icon-user"></i>
                Log in
            </a>
            {% endif %}
            {% endblock nav %}
        </div>


        <div style="width: 900px; margin: auto;">
        {% block content %}{% endblock content %}
        </div>
        
        <script src="/public/lib/jquery-1.9.1.js"></script>
        <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>